.cart-detail {
  width: 150px;
  position: absolute;
  top: 68px;
  right: 5px;
}

.cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart-list__item {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #aaa;
}

.cart-list__image {
  width: 25px;
  height: 25px;
}

.cart-list__name,
.cart-list__quantity {
  font-size: 0.7rem;
}

.cart-list__quantity {
    font-weight: 700;
}
