.product {
  border: 1px solid #a6acaf;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #707b7c;
  position: relative;
}

.product__picture {
  width: 100%;
  height: 280px;
  border-bottom: 1px solid #a6acaf;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.product__image {
  width: 85%;
}

.product__name {
  text-align: center;
}

.product__price {
  position: absolute;
  top: -5px;
  left: 15px;
}
